#date {
    padding: 10% 0% 0% 0%;
    font-size: 1.5rem;
    text-align: center;
}

#clock {
    padding: 5%;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding: 0% 0% 0% 3%;
}

ul {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline;
    font-size: 3rem;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 5% #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 5% #00c6ff;
    }	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 5% #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 5% #00c6ff;
    }
}
