body {
    background: #000000;
    font-family: '../font/BebasNeueRegular', Arial, Helvetica, sans-serif;
}

/********** WEATHER BOX **********/
/***** BOX GRID *****/
#weather_box {
    color: #000000;
    border-radius: 15px 0px 50px 0px;
    width: 520px;
    height: 430px;
    text-align: center;
}

#weather_box .box1 {
    background: #FFFFFF;
    border-radius: 15px 0px 0px 0px;
    height: 300px;
}

#weather_box .box2 {
    background: #CCCCCC;
    border-radius: 0px 0px 0px 50px;
    height: 130px;
}

#weather_box .box3 {
    background: #5F9EA0;
    border-radius: 0px 50px 15px 0px;
    height: 430px;
}
/***** END BOX GRID *****/

/***** BOX 1 *****/
/** LOCATION **/
#location {
    margin: 20px 0px 0px 0px;
    font-size: 40px;
}

/** CURRENT CONDITIONS IMAGE **/
#currentConditionsIcon {
    height: 100px;
    font-size: 60px;
}
/***** END BOX 1 *****/

/***** BOX 2 *****/
/** FORECAST **/
.forecast {
    margin: 10px 0px 0px 0px;
    font-size: 13px;
}
/***** END BOX 2 *****/

/***** BOX 3 *****/
/** TEMPS **/
#temp {
    font-size: 50px;
}

#high-low-temp {
    font-size: 40px;
}

/** WIND **/
#wind {
    font-size: 20px;
}

/** SOLAR **/
#solar-times {
    font-size: 15px;
}

#duration {
    font-size: 15px;
}
/***** END BOX 3 *****/
/********** END WEATHER BOX **********/
