body {
    background: #000000;
    font-family: '../assets/fonts/BebasNeueRegular', Arial, Helvetica, sans-serif;
}

#weather {
    color: #000000;
    border-radius: 15px 50px;
    width: 520px;
    height: 430px;
    margin: 0px auto;
    text-align: center;
    vertical-align: middle;
}

#weather .upperBox {
    border-radius: 15px 50px;
    width: 520px;
    height: 300px;
}

#weather .upperSubBox1 {
    background: #FFFFFF;
    border-radius: 15px 0px 0px 0px;
    width: 320px;
    height: 300px;
    float: left;
}

#weather .upperSubBox2 {
    background: #5F9EA0;
    border-radius: 0px 50px 0px 0px;
    width: 200px;
    height: 300px;
    float: right;
}

#weather .lowerBox {
    border-radius: 0px 0px 15px 50px;
    width: 520px;
    height: 130px;
}

#weather .lowerSubBox1 {
    background: #CCCCCC;
    border-radius: 0px 0px 0px 50px;
    width: 320px;
    height: 130px;
    float: left;
}

#weather .lowerSubBox2 {
    background: #5F9EA0;
    border-radius: 0px 0px 15px 0px;
    width: 200px;
    height: 130px;
    float: right;
}

#location {
    margin: 20px 0px 0px 0px;
    font-size: 40px;
}

#temp {
    margin: 5px 0px 0px 0px;
    font-size: 70px;
}

#temp img {
    margin: 0px 0px -5px -25px;
    height: 90px;
    width: 90px;    
}

#high-low-temp {
    margin: 0px 0px 0px 0px;
    font-size: 50px;
}

#high-low-temp img {
    margin: -15px 0px -8px -17px;
    height: 70px;
    width: 70px;    
}

#sunrise {
    width: 100px;
    float: left;
    font-size: 20px;
}

#sunrise img{
    margin: 0px 0px -10px 0px;
    height: 80px;
    width: 80px;
}

#sunset {
    width: 100px;
    float: right;
    font-size: 20px;
}

#sunset img{
    margin: 0px 0px -10px 0px;
    height: 80px;
    width: 80px;
}
